@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('@/assets/fonts/Inter.ttf');
}


@font-face {
  font-family: 'cairo';
  src: url('@/assets/fonts/Cairo.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'coco';
  src: url('@/assets/fonts/coco.ttf');
}

::-webkit-scrollbar {
  width: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfd9f6;
  border-color: white;
  border-width: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.btn-disabled {
  color: #cfd9f6;
  fill: #9398a8;
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#app {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15rem;
  color: #313638;
}

.purple-tag {
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  border-top-left-radius: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 100px;
}

.pixa-card {
  background-color: #fff;
  outline-width: 1px;
  outline-color: #e2e8f0;
}

.text-tag {
  font-size: 0.6rem;
}

.btn-primary {
  color: #fff;
  fill: #fff;
  /* background-image: linear-gradient(195deg, #0056d3 0%, #0247ab 100%);*/
  background: #49c5b1;
  border: 0;
  box-shadow: 0 25px 50px -12px rgba(73, 197, 177, 0.4);
}

.btn-primary-2 {
  color: #fff;
  fill: #fff;
  /* background-image: linear-gradient(195deg, #0056d3 0%, #0247ab 100%);*/
  background: #323638;
  border: 0;
  box-shadow: 0 25px 50px -12px rgba(73, 197, 177, 0.4);
}

.btn-primary-2:hover {
  background: #242729;
}

.btn-primary:hover {
  background: #3cb09d;
}

.btn-primary:disabled {
  color: #fff;
  fill: #fff;
  /* background-image: linear-gradient(195deg, #0056d3 0%, #0247ab 100%);*/
  background-image: linear-gradient(to bottom right, #475569, #1e293b);
  opacity: 0.8;
  box-shadow: 0 25px 50px -12px rgba(48, 75, 178, 0.4);
}

.pixa-btn {
  height: 2.5rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
}

.btn-square {
  border-radius: 10px;
  border-width: 1px;
  padding: 7px;
  gap: 10px;
}

.btn-ghost {
  fill: #313638;
  color: #313638;
  text-transform: capitalize;
}

.btn-sm-small {
  border-radius: 0.5rem;
}

.btn-ghost:hover {
  background-color: #f1f5f9;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.bg-glass-effect {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
}

.pixa-btn-float {
  background-color: white;
  border-width: 1px;
  fill: #475569;

  color: #475569;
  border-color: #e2e8f0;
  box-shadow: 0 25px 50px -12px rgba(48, 75, 178, 0.2);
}

.pixa-btn-float:hover {
  background-color: white;
  fill: #1e293b;
  color: #1e293b;
  border-width: 1px;
  border-color: #94a3b8;
}

.pixa-btn-nofloat {
  background-color: white;
  border-width: 1px;
  fill: #49c5b1;

  color: #49c5b1;
  border-color: #49c5b1;
}

.pixa-btn-nofloat:disabled {
  background-color: white;
  border-width: 1px;
  fill: #64748b;

  color: #64748b;
  border-color: #64748b;
}

.pixa-btn-nofloat:hover {
  background-color: white;
}

.pixa-btn-nofloat-red {
  background-color: white;
  border-width: 1px;
  fill: #ef4444;

  color: #ef4444;
  border-color: #fecaca;
}

.pixa-btn-nofloat-red:hover {
  background-color: white;
  fill: #ef4444;
  color: #ef4444;
  border-width: 1px;
  border-color: #f87171;
}

.pixa-input {
  display: block;
  border-width: 1px;
  height: 2.5rem;
  border-radius: 0.75rem;
  outline-width: 0px;
  font-size: 16px;
  border-color: #e2e8f0;
  background-color: #ffffff;
}

.pixa-input-icon {
  display: block;
  border-width: 1px;
  height: 2.5rem;
  border-radius: 0.75rem;
  outline-width: 0px;
  font-size: 16px;
  border-color: #e2e8f0;
  background-color: #ffffff;
}

.pixa-input {
  @apply px-[10px] py-[16px] gap-[10px] rounded-[16px] h-11 flex items-center;
}

.pixa-input-login {
  @apply px-[10px] py-[16px] gap-[10px] rounded-[10px] h-[38px] flex items-center;
}

.pixa-input-icon {
  @apply pl-[40px] pr-[10px] py-[16px] gap-[10px] rounded-[16px] h-11;
}

.pixa-input-float {
  display: block;
  border-width: 1px;
  height: 2.5rem;
  border-radius: 0.75rem;
  outline-width: 0px;
  font-size: small;
  border-color: #e2e8f0;
  box-shadow: 0 25px 50px -12px rgba(41, 98, 255, 0.2);
}

.pixa-input:focus {
  display: block;
  border-width: 1px;
  border-color: #3cb09d;
  box-shadow: 0 25px 50px -12px rgba(41, 98, 255, 0.1);
}
.pixa-input-login:focus {
  display: block;
  border-width: 1px;
  border-color: #3cb09d;
  box-shadow: 0 25px 50px -12px rgba(41, 98, 255, 0.1);
}

.pixa-input-icon:focus {
  display: block;
  border-width: 1px;
  border-color: #3cb09d;
  box-shadow: 0 25px 50px -12px rgba(41, 98, 255, 0.1);
}

.pixa-menu-btn {
  font-size: 0.7rem;
}

.pixa-menu-btn:hover {
  fill: #49c5b1;
  color: #49c5b1;
}

.pixa-menu-btn-delete {
  font-size: 0.7rem;
}

.pixa-menu-btn-delete:hover {
  fill: #ef4444;
  color: #ef4444;
  background-color: #fef2f2;
}

.vc-calendar-color {
  --vc-accent-50: rgba(41, 98, 255, 0.05);
  --vc-accent-100: rgba(41, 98, 255, 0.1);
  --vc-accent-200: rgba(41, 98, 255, 0.2);
  --vc-accent-300: rgba(41, 98, 255, 0.3);
  --vc-accent-400: rgba(41, 98, 255, 0.4);
  --vc-accent-500: rgba(41, 98, 255, 0.5);

  --vc-accent-600: rgba(41, 98, 255, 1);

  --vc-accent-700: rgba(41, 98, 255, 0.7);
  --vc-accent-800: rgba(41, 98, 255, 0.8);
  --vc-accent-900: rgba(41, 98, 255, 0.9);
}

.pixa-title {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  line-height: 1rem;
  font-weight: 600;
  color: #1e293b;
  text-transform: capitalize;
}

.coco-text {
  font-family: coco;
}

.pixa-title-2 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
  color: #1e293b;
  text-transform: capitalize;
}
.pixa-title-3 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 150%;
  font-weight: 600;
  color: #1e293b;
  text-transform: capitalize;
}

.pixa-title-3 {
  @apply min-h-8 flex items-center;
}

.pixa-title-4 {
  color: #707372;
  text-transform: capitalize;
}

.label-text {
  font-size: 0.75rem;
  color: #475569;
}

.pixa-textarea {
  display: block;
  border-width: 1px;
  border-radius: 0.75rem;
  padding: 12px;
  outline-width: 0px;
  font-size: small;
  border-color: #e2e8f0;
  background-color: #ffffff;
}

.pixa-tag {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.bg-glass-effect {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.bg-glass-effect-sm {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.option-false {
  background: #e2e8f0;
  fill: #64748b;
  color: #64748b;
}

.option-false:hover {
  background-color: #cbd5e1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-blue {
  --slider-connect-bg: #1e293b;
  --slider-tooltip-bg: #1e293b;
  --slider-handle-ring-color: #1e293b 30;
}

.ag-theme-quartz {
  --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: rgb(209, 64, 129);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  --ag-font-family: cairo;
}

.red-btn-ghost {
  fill: #dc2626;
  background-color: transparent;
  border: 0px;
  color: #dc2626;
  text-transform: capitalize;
  box-shadow: none;
}

.red-btn-ghost:hover {
  background-color: #fee2e2;
}

.hidden-scrollbar {
  overflow: auto; /* Allows scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}

.pixa-btn {
  @apply h-[35px] text-[16px] font-[500] px-[12px] py-[8px] flex gap-[5px] rounded-[10px] capitalize;
}

.pixa-btn-navigation {
  @apply h-[40px] text-[16px] font-[400] px-[16px] py-[5px] flex gap-[10px] rounded-[11px] capitalize;
}

.pixa-btn-navigation-side {
  @apply h-10 text-[16px] px-[10px] flex gap-[10px] rounded-[10px] capitalize;
}

.pixa-border {
  border: 1px solid #7073724d;
}

.pixa-btn-form {
  @apply h-[49px] text-[16px] font-[500] px-[18px] py-[14px] flex gap-[10px] rounded-[10px] capitalize;
}

.label-text {
  @apply font-[500] text-[18px] capitalize;
}

.commun-dropdown {
  @apply px-[10px] py-[16px] gap-[10px] rounded-[16px] h-11 flex items-center border border-border-color/20 bg-white;
}

.commun-dropdown:hover {
  @apply border-primary;
}

.commun-dropdown-small {
  @apply px-[10px] py-[16px] gap-[10px] rounded-[12px] h-9 flex items-center border border-border-color/20 bg-white text-sm;
}

.commun-dropdown-small:hover {
  @apply border-primary;
}

.commun-dropdown-icon {
  @apply pl-[40px] pr-[10px] py-[16px] gap-[10px] rounded-[16px] h-9;
}

.table_header {
  @apply my-auto truncate h-[23px] flex items-center;
}

.detail-title {
  @apply pixa-title-2 h-[29px] flex items-center;
}

.btn-outline {
  @apply border-[#313638] text-[#313638] fill-[#313638];
}
.btn-outline-primary {
  @apply border-primary/50 text-primary fill-primary bg-white;
}

.btn-outline:hover {
  @apply border-[#313638] text-[#313638] fill-[#313638] bg-slate-100;
}

.btn-warning {
  @apply text-white;
}

.btn-error {
  @apply text-white;
}
